{
    "openapi": "3.0.0",
    "info": {
        "title": "BileMo APi",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "http://api-bilemo.proteiforme.fr/v1",
            "description": "BileMo API"
        }
    ],
    "paths": {
        "/api/v1/register_client": {
            "post": {
                "tags": [
                    "Client"
                ],
                "operationId": "App\\Controller\\ClientController::register",
                "responses": {
                    "201": {
                        "description": "client created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/clients?page={int}": {
            "get": {
                "tags": [
                    "Client"
                ],
                "operationId": "App\\Controller\\ClientController::getClients",
                "responses": {
                    "200": {
                        "description": "All clients, 3 per page"
                    }
                }
            }
        },
        "/api/v1/clients/{id}": {
            "get": {
                "tags": [
                    "Client"
                ],
                "operationId": "App\\Controller\\ClientController::getClientsDetails",
                "responses": {
                    "200": {
                        "description": "All clients"
                    }
                }
            }
        },
        "/api/v1/delete_clients/{id}": {
            "delete": {
                "tags": [
                    "Client"
                ],
                "operationId": "App\\Controller\\ClientController::remove",
                "responses": {
                    "204": {
                        "description": "delete a client",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/phones": {
            "get": {
                "tags": [
                    "Phones"
                ],
                "operationId": "App\\Controller\\PhoneController::getPhone",
                "responses": {
                    "200": {
                        "description": "All smartphones"
                    }
                }
            }
        },
        "/api/v1/phones/{id}": {
            "get": {
                "tags": [
                    "Phones"
                ],
                "operationId": "App\\Controller\\PhoneController::getPhoneDetail",
                "responses": {
                    "200": {
                        "description": "Get detail about a specific smartphone"
                    }
                }
            }
        },
        "/login": {
            "post": {
                "tags": [
                    "Login"
                ],
                "operationId": "App\\Controller\\UserController::login",
                "responses": {
                    "200": {
                        "description": "Successful authentication",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}